# Created by https://www.toptal.com/developers/gitignore/api/vscode,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=vscode,visualstudiocode

### VisualStudioCode ###
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

### vscode ###
!.vscode/settings.json
!.vscode/extensions.json
