@font-face {
    font-family: 'press_start_2p';
    src: url('./font/pressstart2p-webfont.woff2') format('woff2'),
         url('./font/pressstart2p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, pre, code, kbd, samp {
    /*font-family: 'Press Start 2P', sans-serif;*/
    font-family: 'press_start_2p', sans-serif;
}

.generatorContainer{
    min-height: 99vh;
}

.js{
    align-content: center;
    justify-content: center;
    text-align: center;
}

#backNES{
    font-size: 2rem;
}

.hidden{
     opacity: 0; 
}
                                                